<div class="home">
    <h1 class="home__title">Witaj przybyszu na arenie bitw w METROPOLI Antarctica</h1>
    <h2>Rynek</h2>
    <div class="home__create">
        <p>Stwórz swojego wojownika i zacznij walczyć z najodważniejszymi wojownikami! <a href="/warrior/form">Twórz</a></p>
    </div>
    <div class="home__arena">
        <p><a href="/warrior/select">JESTEM GOTOWY I WALCZĘ!</a>Arena</p>
    </div>
    <div class="home__hall-of-fame">
        <p>Zobacz 5 najlepszych wojowników którzy toczyli walkę do ostatnich kropli krwi!<a href="/hall-of-fame">Sala sław</a></p>
    </div>
    <p class="home__author">Created By Tommy</p>
</div>
