<h1>Witaj przybyszu na arenie bitw w METROPOLI Antarctica</h1>
<div>
    <h2>Rynek</h2>
</div>
<div>
    <p>Stwórz swojego wojownika i zacznij walczyć z najodważniejszymi wojownikami! <a href="/warrior/form">Twórz</a></p>
</div>
<div>
    <p><a href="/warrior/select">JESTEM GOTOWY I WALCZĘ!</a>Arena</p>
</div>
<div>
    <p>Zobacz 5 najlepszych wojowników którzy toczyli walkę do ostatnich kropli krwi!<a href="/warrior/stats">Sala sław</a></p>
</div>
<p>Created By Tommy</p>
